#Environment files with sensitive data	
health-tracker.json
.env
.env.*
!.env.template

#Python
__pycache__/
/helpers/__pycache__/
*.pyc
.ipynb_checkpoints/	
*.ipynb
/helpers/idempotency_check.py
/helpers/nutrition_calc.py 
/helpers/gsheet_util.py 
build_cycle_db.py
Health_tracker.py
troubleshoot.py


#MacOS
.DS_Store

#Anything else
Debug_folder/
Untracked/
Health_tracker_icon.png
cycle_db.parquet



